.root {
    margin: 10% auto;
}

.root > form {
    text-align: center;
    margin: auto;
    clear: both;
    width: 230px;
}

.root > form > button {
    width: 100%;
    margin: 10px auto auto;
}

.root > form label {
    float: left;
    display: inline-block;
    margin-top: 10px;
}

.root > form input {
    float: right;
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}

.root a {
    display: block;
    text-align: center;
    margin: 10px auto auto;
}

.loginElem {
    clear: both;
    margin: auto;
}

